{% extends "_base.html" %}
{% block content %}
<h1 class="title">
  Agreements
</h1>
<div>
  <b>
    <a href="{{url_for('agreement.create_page') }}">Create</a>
  </b>
</div>
<br>

{% for item in items %}
  <div>
    <p>name: {{ item.agreement_name }} <a href="{{url_for('agreement.get',id=item.agreement_id) }}">Details</a>
      <form action="{{url_for('agreement.delete',id=item['agreement_id'])}}" method="post">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <input class="danger" type="submit" value="Delete" onclick="confirm('Are you sure?');">
      </form>    
    </p>
  </div>
{% endfor %}
{% endblock %}