{% extends "_base.html" %}
{% block content %}
<h1 class="title">
  Delivery
</h1>
  <div>
    <p>id: {{ item.delivery_id }}</p>
    <p>num: {{ item.delivery_num }}</p>
    <p>date: {{ item.delivery_date }}</p>
    <p>date: {{ item.warehouse_id }}</p>
    {% for item in items %}
    <div>
      <p>name: {{ item.item_name }}</p>
      <p>count: {{ item.item_count }}</p>
      <p>units: {{ item.item_units }}</p>
      <p>price: {{ item.item_price }}</p>
      <p>vat: {{ item.item_price_vat }}</p>
    </div>
  {% endfor %}    
  </div>
{% endblock %}
