{% extends "_base.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{% if item %}Edit {{item.name}}{% else %}Create{% endif %}</h3>
    <div class="box">
        <form method="POST" action="{% if item %}{{ url_for('deliveries.get',id=item.id) }}{% else %}{{ url_for('deliveries.create') }}{% endif %}" name="edit_form">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="name" value="{% if item %}{{ item.name }}{% endif %}">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">{% if item %}Save {{item.name}}{% else %}Create{% endif %}</button>
        </form>
    </div>
</div>
{% endblock %}